$bg_main: #1F203D;
$bg: #25274B;
$divider: #2D2F54;
$black-gradient: linear-gradient(172.79deg, #1F203D -24.22%, #26284A 94.39%);
$gradient: linear-gradient(93.25deg, #6B7AFF 3.26%, #4940F2 89.32%);
$blue: #5657F7;
$light-violet: #9695FF;
$light_blue: #B6B5D7;
$green: #14CC86;
$red: #EB5757;
$white: #FFFFFF;
