@mixin adaptivValue($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) /#{$maxWidthContainer - 320}));
        }
    } @else if $type == 2 {
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) /#{$maxWidth - 320}));
        }
    } @else {
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) /#{$maxWidth - 320}));
    }
}

$maxWidth: 1920;
$maxWidthContainer: 1600;

.our-backers {
    @include adaptivValue("padding-bottom", 150, 60, 1);
    @include adaptivValue("padding-top", 150, 60, 1);
    position: relative;
    z-index: 4;
}
.our-backers__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.our-backers__item {
    width: 25%;
    padding: 24px;
    margin-bottom: 30px;
    &:nth-last-child(-n + 4) {
        margin-bottom: 0;
    }
    img {
        width: 100%;
        object-fit: contain;
        max-height: 60px;
    }
}
