.the-advisors {
    margin: 70px 0;
    @media (max-width: 1100px) {
        margin: 50px 0;

    }
}
.advisors__items {
    display: flex;
    justify-content: center;
    max-width: 1185px;
    width: 100%;
    margin: 0 auto;
    .team-item {
        width: calc(33.3333% - 15px);
    }
}
